*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(248, 248, 248);
    margin: 50px;
}
.container{
    background-color: gold;
    display: grid ;
    gap: 10px;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    padding: 10px;
    font-size: 30px;
    color: rgb(248, 253, 253);
    
    
}

.Box{
    border: 2px solid rgb(19, 18, 18);
    border-width: 5px;
    background-color: rgb(131, 13, 241);
    border-radius: 20px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
} 
.Footer{
    grid-column-start:1 ;
    grid-column-end: 4;

}