*{
    padding: 0px;
    margin: 0px;
}


.box{
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(45, 1, 82);
    border-radius: 10px;
    
}



body{
    background-color:rgb(154, 128, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;

}

h1{
    background-color: rgb(174, 212, 209);
    color:rgb(20, 4, 112);
    text-align: center;
    margin: 10px;
}

label{
    font-size: 20px ;
    font-weight: 600 ;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

button{
    background-color: lightcoral;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 20px;

}
button{
    cursor: pointer;
}

