#container{
    background-color: bisque;
    display: flex; 
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    

}
.box{
    height: 100px;
    width: 100px;
}

.first{
    background-color: aqua;
    flex-basis: 200px;
    /* flex-grow: 1; */
}
.second{
    background-color: coral;
    /* flex-grow: 2; */
    flex-shrink: 4;
}

.third{
    background-color: blueviolet;
}
.fourth{
    background-color: palevioletred;
}