/* *{
    margin: 0px;
    padding: 0px;
}
 */




h2{
    background-color: burlywood;
    position: relative;
    left: 100px;
    /* bottom: 50px; */
    /* top right */
}   

h3{
    background-color: darksalmon;
    position: fixed;
    top: 0px;
    left: 70px; 
}

h4{
    background-color: blue;
    position: sticky;
    top: 10px ;
}

p{
    background-color: palevioletred;
    position: absolute;
    left: 50px;
    top: 0px;
    margin: 0px;
    z-index: 10;


}