*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    perspective: 800px;
}
.Box{
    padding: 30px;
    height: 200px;
    width: 200px;
    background-color: orange;
    transition-property: all;
    transition-duration: 3s;
    cursor: pointer;
    font-size: 40px;
    color: rgb(218, 15, 157);
    /* transform: translate(200px,100px); */
    /* transform: skew(30deg); */
    animation-name: Rotation;
    animation-duration: 5s;
    animation-iteration-count: 1;
   

}

@keyframes Rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* .Box:hover{
    background-color: blueviolet;
    height: 100px;
    width: 100px; 
    transform: scaleX(2); 
    transform: translateY(200px); 
    transform: rotateY(-60deg);
    transform: translateZ(200px); 
 } */